/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.btn-dark {
  background-color: rgb(87, 87, 87);
  border-color: rgb(87, 87, 87);
}
.loginBox {
  border-bottom: 2px solid rgb(155, 155, 155);
}

.form-control:focus {
  box-shadow: none;
}
.text-decoration-underline {
  text-underline-offset: 5px;
}
a {
  text-decoration: none;
}
.progressFill {
  width: 50%;
}
@media (max-width: 576px) {
  .progressFill {
    width: 75%;
  }
}
